<div class="container">
    <footer class="py-4 my-5">
        <ul class="nav justify-content-center border-top border-primary pt-3 mb-3">
            <li class="nav-item">
                <a href="/" class="nav-link px-3 text-primary">Home</a>
            </li>
            <li class="nav-item">
                <a href="addjobs" class="nav-link px-3 text-primary">Add Job</a>
            </li>
            <li class="nav-item">
                <a href="https://www.linkedin.com/in/sankalp-jadhav-07/" class="nav-link px-3 text-primary">LinkedIn</a>
            </li>
            <li class="nav-item">
                <a href="https://www.instagram.com/sankyy07/" class="nav-link px-3 text-primary">Instagram</a>
            </li>
        </ul>
        <p class="text-center text-body-secondary m-0"> &copy; 2023 Jobify, Inc</p>
    </footer>
</div>
