<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
    <div class="container-fluid"> <!-- Use container-fluid to make it full width -->
        <a class="navbar-brand" href="#">
            <img src="/static/Jicon.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top me-2">
            Jobify
        </a>

        <!-- Add a responsive navbar toggle button for smaller screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links and dropdown menu aligned to the right -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addjobs">Add Job</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#open-positions">Open Jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/sankalp-jadhav-07/">LinkedIn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/sankyy07/" class="nav-link px-2 text-body-secondary">Instagram</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div style="height: 40px;"></div>
